<section class="idea-methodology">
  <div class="container idea-methodology__grid">
    <div class="idea-methodology__col">
      <img src="{{ site.data.idea_methodology.idea.icon | relative_url }}" alt="" class="idea-methodology__icon">
      <h2>{{ site.data.idea_methodology.idea.title }}</h2>
      <p>{{ site.data.idea_methodology.idea.text }}</p>
    </div>
    <div class="idea-methodology__col">
      <img src="{{ site.data.idea_methodology.methodology.icon | relative_url }}" alt="" class="idea-methodology__icon">
      <h2>{{ site.data.idea_methodology.methodology.title }}</h2>
      <p>{{ site.data.idea_methodology.methodology.text }}</p>
    </div>
  </div>
</section>
